$shitDark: #1E212B;
$dark_blue: #2F4858;
$light_blue: #3E5A80;
$lighter_blue: #4c6c9a;
$even_lighter_bruh: #6f9fe1;
$red_col: #D00000;
$duckGul: #FDC20A;
$niceHoverBg: #8BC6EC;
$beige_post: #fae1dd;

//Colors
$black_timeline: #34435E;
$white_whiteline: #ffffff;

$darkmode_dark: #242424;
$darkmode_lighter_bg: #373737;
$para_text: rgb(130, 130, 130);